{
  "minimum-render-config-on-localhost": {
    "url": {
      "scheme": "",
      "host": "",
      "path": "",
      "api": "https://box.outofindex.com/varnalab/api"
    }
  },
  "minimum-server-config-on-localhost": {
    "server": {
      "assets": "[/absolute/path/to/render/location]",
      "port": 3000
    }
  }
}
