<footer>
  <div class="row">

    <div class="span3">
      <img src="{{path}}/images/varnalab-footer.png" alt="varnalab-logo" />
    </div>

    <div class="span9 text-right">

      <a href="https://www.google.com/maps/place/VarnaLab/@43.21669,27.904608,16z/data=!4m5!3m4!1s0x0:0xf9c0fd8622b636aa!8m2!3d43.2166902!4d27.9046083?hl=en-US" title="Адрес">
        <img src="/images/icon-map-marker.png" alt="map marker icon" />
      </a>

      &nbsp;

      <a href="mailto:hq@varnalab.org" title="Електронна поща">
        <img src="/images/icon-email.png" alt="email icon" />
      </a>

      &nbsp;

      <a href="https://www.facebook.com/varnalab/" title="Facebook">
        <img src="/images/icon-facebook.png" alt="facebook icon" />
      </a>

      &nbsp;

      <a href="https://twitter.com/VarnaLab" title="Twitter">
        <img src="/images/icon-twitter.png" alt="twitter icon" />
      </a>

      &nbsp;

      <a href="https://slack.varnalab.org" title="Slack">
        <img src="/images/icon-slack.png" alt="slack icon" />
      </a>

    </div>

  </div>
  <hr />
</footer>
