<footer>
  <a href="#" title="">
    <img src="{{path}}/images/varnalab-footer.png" alt="" />
  </a>
  <hr />
  email: <a href="mailto:hq@varnalab.org">hq@varnalab.org</a><br />
  twitter: <a href="https://twitter.com/varnalab" title="Follow VarnaLab in Twitter">@varnalab</a><br />
  slack: <a href="https://slack.varnalab.org">slack.varnalab.org</a><br />
  адрес: <a href="https://www.google.com/maps/place/VarnaLab/@43.21669,27.904608,16z/data=!4m5!3m4!1s0x0:0xf9c0fd8622b636aa!8m2!3d43.2166902!4d27.9046083?hl=en-US">ул. Пенчо Славейков 50</a><br />
</footer>
