<header>
  <a href="{{path}}/" class="logo"><img src="{{path}}/images/logo.png" alt="VarnaLab" /></a>
  <ul class="nav nav-pills pull-right">
    <li>
      <a href="{{path}}/about" title="За VarnaLab">
        <img src="{{path}}/images/nav-button-lab.png" alt="За VarnaLab" class="img-holder" />
        <span>За VarnaLab</span>
      </a>
    </li>
    <li>
      <a href="{{path}}/events" title="Събития">
        <img src="{{path}}/images/nav-button-calendar.png" alt="Събития" />
        <span>Събития</span>
      </a>
    </li>
    <li>
      <a href="{{path}}/blogs" title="Блог">
        <img src="{{path}}/images/nav-button-packman.png" alt="Блог" />
        <span>Блог</span>
      </a>
    </li>
    <!-- <li>
      <a href="{{path}}/forum" title="Форум">
        <img src="{{path}}/images/nav-button-forum.png" alt="Форум" />
        <span>Форум</span>
      </a>
    </li> -->
    <li>
      <a href="{{path}}/members" title="Лабъри">
        <img src="{{path}}/images/nav-button-members.png" alt="Лабъри" />
        <span>Лабъри</span>
      </a>
    </li>
    <li>
      <a href="{{path}}/links" title="Връзки">
        <img src="{{path}}/images/nav-button-links.png" alt="Връзки" />
        <span>Връзки</span>
      </a>
    </li>
    <li>
      <a href="{{path}}/contacts" title="Контакти">
        <img src="{{path}}/images/nav-button-contacts.png" alt="Контакти" />
        <span>Контакти</span>
      </a>
    </li>
  </ul>
</header>
