<div class="span3">

  <div class="teaser teaser-background-2">
    <img src="{{path}}/images/teaser-iwant-icon.png" alt="" class="pull-left" />
    <p class="teaser-text-with-icon">
      Искаш да научиш повече?<br />
    </p>
    <br class="clear" />
    <p class="v-learn">
      <a href="mailto:hq@varnalab.org" class="">Email</a><span>/</span>
      <a href="https://groups.google.com/forum/#!forum/varna-lab" class="">Форум</a><span>/</span>
      <a href="https://slack.varnalab.org" class="">Чат</a>
    </p>
  </div>

  <div class="teaser teaser-background-1">
    <p>
      <strong>Кой е в Лаба?</strong>
    </p>
    <ul id="whois"></ul>
    {{>widget/whois}}
  </div>

  <div class="twitter-timeline-box"><a href="https://twitter.com/VarnaLab" height="340" data-widget-id="350307850343575552" class="twitter-timeline">Tweets by @VarnaLab</a></div>

  <div class="div teaser-facebook-like-box">
    <div data-href="https://www.facebook.com/varnalab" data-width="270" data-show-faces="true" data-stream="false" data-shadow-border="true" data-header="true" class="fb-like-box"></div>
  </div>

</div>
