<div class="row">
  <div class="span9">
    <section>
      <article>

        <h3 class="section-title">
          <span>Какво е VarnaLab?</span>
        </h3>

        <div class="section-item">
          <p>
            VarnaLab е независимо физическо място, развивано и използвано
            от хора с общи интереси, обикновено в сферата на компютрите,
            машините, технологиите, науката и цифровите или електронните
            изкуства, където те могат да се срещат, общуват и сътрудничат.
          </p>
          <p>
            VarnaLab е създаден на 15.06.2011г. и е част от хакерспейс мрежата на
            <a href="http://hackerspaces.org/">hackerspaces.org</a>,
            като според wiki страницата им, по света има над 2300 такива места,
            а в България те са 5-6 и могат да се видят в
            <a href="https://wiki.hackerspaces.org/Bulgaria">списъка с хакерспейси в България</a>.
          </p>
          <div class="hackermaps">
            <a href="https://wiki.hackerspaces.org/List_of_ALL_Hacker_Spaces" title="хакерспейси по света">
              <img src="{{path}}/images/hackerspacesWorldwide.jpg" alt="хакерспейси по света">
            </a>
          </div>
        </div>

        <div class="section-item">
          <h3>Каква е мисията на VarnaLab?</h3>
          <p>
            Мисията на VarnaLab е да бъде независимо физическо място за споделяне на знание, идеи и технологии,
            както и да помага на обществото с:
          </p>
          <ul>
            <li>обучения</li>
            <li>работилници</li>
            <li>преподаване</li>
            <li>събития</li>
            <li>игри</li>
            <li>споделено работно място</li>
            <li>hacking :P</li>
            <li>и други</li>
          </ul>
        </div>

        <div class="section-item">
          <h3>Kакво не е VarnaLab?</h3>
          <ul>
            <li>VarnaLab не е компания</li>
            <li>VarnaLab не е продукт</li>
            <li>VarnaLab не е организация с комерсиална цел</li>
          </ul>
        </div>

        <div class="section-item">
          <h3>Мога ли да посетя VarnaLab?</h3>
          <p>
            Всеки може да посети VarnaLab когато е отворен.
            Обикновено след 10 часа в делнични дни и след 11 през уикенда има някой, но не е задължително.
            За по-сигурно, погледни <a href="#whois">кой е там</a> в момента.
          </p>
        </div>

        <div class="section-item">
          <h3>Kой управлява VarnaLab?</h3>
          <p>
            Няма конкретен човек, който да управлява VarnaLab. Мястото се организира от неговите членове.
            Решенията се вземат с гласуване в Slack канала #polls.
          </p>
        </div>

        <div class="section-item">
          <h3>Kакви хора мога да срещна в лаба?</h3>
          <ul>
            <li>Geeks</li>
            <li>Nerds</li>
            <li>IT професионалисти</li>
            <li>Фотографи</li>
            <li>Студенти</li>
            <li>Дизайнери</li>
            <li>Художници</li>
            <li>Gamers</li>
            <li>и много други</li>
          </ul>
        </div>

        <div class="section-item">
          <h3>Как мога да се включа във VarnaLab и да помогна за неговото развитие?</h3>
          <p>
            Чрез заплащане на членски внос, дарение и/или чрез активно участие в дейностите, например:
          </p>
          <ul>
            <li>Организиране на събития/инициативи</li>
            <li>Популяризиране</li>
          </ul>
          <p>
            Ако желаете да станете член на VarnaLab, първо трябва да се запознаете с нашият
            <a href="https://drive.google.com/file/d/0B8PcQ8epaaktNC1nN0JWZTRPNU0/view?usp=sharing">Устав</a>.
            Ако споделяте целите на ВарнаЛаб, разпечатайте и попълнете
            <a href="https://drive.google.com/file/d/0B8PcQ8epaaktREVxOXVqMl9ZckU/view?usp=sharing">Заявление за членство</a>,
            и го оставете на някой от Лаба.
            <br />
            За ваше удобство в Лаба сме разпечатали Устав и бланки Заявление за членство.
          </p>
          <p>
            Моля, пишете ни във <a href="https://groups.google.com/forum/#!forum/varna-lab">форума</a> за допълнителни идеи.
          </p>
        </div>

        <div id="membership-fee" class="section-item">
          <h3>Как мога да платя членски внос?</h3>
          <p>
            На страница <a href="{{path}}/donate">Дарения</a>, раздел Членски внос,
            ще намерите нужната информация как да помогнете за развитието на Лаба.
          </p>
        </div>

        <div class="section-item">
          <h3>Колко е членския внос?</h3>
          <p>
            Всеки сам избира с колко може да помогне. Няма нито минимум, нито максимум. Обикновено е между 10лв и 50лв.
          </p>
        </div>

        <div class="section-item">
          <h3>За какво отиват парите от членския внос?</h3>
          <p>
            Използват се за покриване текущите разходи по подръжка на мястото и развитие на организацията.
          </p>
        </div>

        <div class="section-item">
          <h3>Мога ли да направя събитие?</h3>
          <p>
            Да, всеки, който има желание може да инициира събитие във VarnaLab.
          </p>
        </div>

        <div class="section-item">
          <h3>Как да направя събитие?</h3>
          <ol>
            <li>Провери за свободни дати в раздел <a href="{{path}}/events#calendar">Календар със събития</a>.</li>
            <li>
              Пиши ни във <a href="https://www.facebook.com/varnalab/">Facebook страницата</a>
              или избери удобен за теб начин от <a href="{{path}}/contacts">Контакти</a>
            </li>
            <li>
              За повече подробности, разгледай страницата
              <a href="https://wiki.varnalab.org/index.php?title=%D0%9A%D0%B0%D0%BA_%D0%B4%D0%B0_%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D1%83%D0%B2%D0%B0%D0%BC_%D1%81%D1%8A%D0%B1%D0%B8%D1%82%D0%B8%D0%B5%3F">Как да публикувам събитие?</a>
              намираща се в нашето WIKI.
            </li>
          </ol>
        </div>

      </article>
    </section>
  </div>

  {{>layout/sidebar}}
</div>
