<div class="row">
  <div class="span9">
    <section>
      <article>

        <h3 class="section-title">
          <span>Какво е VarnaLab?</span>
        </h3>

        <div class="section-item">
          <p>
            VarnaLab е независимо физическо място, развивано и използвано
            от хора с общи интереси, обикновено в сферата на компютрите,
            машините, технологиите, науката и цифровите или електронните
            изкуства, където те могат да се срещат, общуват и сътрудничат.
          </p>
          <p>
            VarnaLab е част от хакерспейс мрежата на <a href="http://hackerspaces.org/">hackerspaces.org</a>,
            като според wiki страницата им, по света има около 1600
            такива места, а в България те са 5-6 и могат да се видят в
            <a href="http://hackerspaces.org/wiki/Bulgaria">списъка с хакерспейси в България</a>.
          </p>
          <div class="hackermaps">
            <a href="http://hackerspaces.org/wiki/List_of_Hacker_Spaces" title="хакерспейси по света">
              <img src="{{path}}/images/hackerspacesWorldwide.jpg" alt="хакерспейси по света">
            </a>
          </div>
        </div>

        <div class="section-item">
          <h3>Каква е мисията на VarnaLab?</h3>
          <p>
            Мисията на VarnaLab е да бъде независимо физическо място за споделяне на знание, идеи и технологии,
            както и да помага на обществото с:
          </p>
          <ul>
            <li>обучения</li>
            <li>работилници</li>
            <li>преподаване</li>
            <li>събития</li>
            <li>игри</li>
            <li>споделено работно място</li>
            <li>hacking :P</li>
            <li>и други</li>
          </ul>
        </div>

        <div class="section-item">
          <h3>Kакво не е VarnaLab?</h3>
          <ul>
            <li>VarnaLab не е компания</li>
            <li>VarnaLab не е продукт</li>
            <li>VarnaLab не е организация с комерсиална цел</li>
          </ul>
        </div>

        <div class="section-item">
          <h3>Мога ли да посетя VarnaLab?</h3>
          <p>
            Всеки може да посети VarnaLab когато е отворен. Погледни <a href="#whois">кой е там</a> в момента.
          </p>
        </div>

        <div class="section-item">
          <h3>Kой управлява VarnaLab?</h3>
          <p>
            Няма конкретен човек, който да управлява VarnaLab. Мястото се организира от неговите членове.
          </p>
        </div>

        <div class="section-item">
          <h3>Kакви хора мога да срещна в лаба?</h3>
          <ul>
            <li>Geeks</li>
            <li>Nerds</li>
            <li>IT професионалисти</li>
            <li>Фотографи</li>
            <li>Студенти</li>
            <li>Дизайнери</li>
            <li>Художници</li>
            <li>Gamers</li>
            <li>и много други</li>
          </ul>
        </div>

        <div class="section-item">
          <h3>Как мога да се включа във VarnaLab?</h3>
          <p>
            Чрез заплащане на членски внос, дарение и/или чрез активно участие в дейностите, например:
          </p>
          <ul>
            <li>Организиране на събития/инициативи</li>
            <li>Популяризиране</li>
          </ul>
          <p>
            Моля, пишете ни във <a href="https://groups.google.com/forum/#!forum/varna-lab">форума</a> за допълнителни идеи.
          </p>
        </div>

        <div class="section-item">
          <h3>Как мога да платя членски внос?</h3>
          <ul>
            <li>Попитай кой е касиер на лаба,</li>
            <li>или го остави на член на лаба,</li>
            <li>или го остави в касичката (пощенската кутия) завити в бележка с твоето име.</li>
          </ul>
        </div>

        <div class="section-item">
          <h3>Колко е членския внос?</h3>
          <p>
            Всеки сам избира с колко може да помогне. Няма нито минимум, нито максимум. Обикновено е между 10лв и 50лв.
          </p>
        </div>

        <div class="section-item">
          <h3>За какво отиват парите от членския внос?</h3>
          <p>
            <a href="https://spreadsheets.google.com/spreadsheet/pub?hl=en_US&amp;hl=en_US&amp;key=0As3N2yvtdDR8dDBueXNHdDkzN2hMSHdTQWQ3WWxzY0E&amp;single=true&amp;gid=0&amp;output=html">Финансите на VarnaLab</a> са публични и се използват за покриване на текущите нужди на организацията.
          </p>
        </div>

        <div class="section-item">
          <h3>Мога ли да направя събитие?</h3>
          <p>
            Да, всеки, който има желание може да инициира събитие във VarnaLab
          </p>
        </div>

        <div class="section-item">
          <h3>Как да инициирам събитие?</h3>
          <ol>
            <li>Провери за свободни дати в <a href="{{path}}/events">календара със събитията</a>.</li>
            <li>
              Пиши ни във
              <a href="https://www.facebook.com/varnalab/">Facebook страницата</a>
              или избери удобен за теб начин от
              <a href="{{path}}/contacts">Контакти</a>
            </li>
          </ol>
        </div>

      </article>
    </section>
  </div>

  {{>layout/sidebar}}
</div>
