<div class="row">
  <div class="span9">

    <form>

    <section>
      <h3 class="section-title">
        <span>З а я в л е н и е</span>
      </h3>

      <div class="section-item apply-recepient">
	    <p>
	  	  До Управителя<br />
	      на сдружение<br />
	  	  “ВарнаЛаб”
	  	</p>
      </div>

      <br class="clearfix" />

      <div class="section-item">
        <h3 align="center">З А Я В Л Е Н И Е</h3>
        <p align="center">за членство</p>
      </div>

      <div class="section-item">
        <p align="center">
        	От	 <input class="input-xlarge application-field" type="text" name="name" placeholder="Пълно име на кандидата" />,
        	E-Мail <input class="input-xlarge application-field" type="text" name="email" placeholder="E-Mail за потвърждение"/>
        </p>
      </div>

      <div class="section-item">
        <p class="apply-indent">
          Г-н Управител,
        </p>
        <p>
          Желая да бъда приет като член на сдружение “ВарнаЛаб”. Запознат съм с <a href="https://drive.google.com/file/d/0B8PcQ8epaaktNC1nN0JWZTRPNU0/view?usp=sharing">Устава на сдружението</a> и заявявам, че ще го спазвам.
        </p>
  
        <p>
          По препоръка на <input class="input-xxlarge application-field" type="text" name="recommendation" placeholder="Име на лицето, членуващо във ВарнаЛаб. Попълването не е задължително."/>
        </p>
  
        <p>
          Надявам се, че желанието ми ще бъде уважено.
        </p>
      </div>

      <div class="section-item">
        <div class="row">
          <div class="span4">
            Дата: <input class="input-large application-field" type="text" name="recommendation" placeholder="Дата на заявлението"/>г.
          </div>
          <div class="span5" align="right">
            С уважение: <input class="input-xlarge application-field" type="text" name="applicator" placeholder="Име на подателя"/>
          </div>
        </div>
      </div>

      <div class="section-item">
        <p align="right">
          <button class="btn" name="submit">Изпрати заявлението</button>
        </p>
      </div>    

      <br class="clearfix" />

    </section>

    </form>

    <!-- {{>blogs}} -->

  </div>

  {{>layout/sidebar}}
</div>
