<div class="row">
  <div class="span9">

    <section>
      <h3 class="section-title">
        <span>Информация</span>
      </h3>

      <div class="section-item">
        <p>
          Този раздел е оставен като архив, тъй като вече няма кой да го поддържа.
          Ако имаш време и желание да се включиш, свържи се с нас по някой от начините описани в
          <a href="{{path}}/contact">Контакти</a>.
        </p>      
      </div>
    </section>
    
    <section>
      <h3 class="section-title">
        <span>Блог [ архив ]</span>
      </h3>

      {{#articles}}

      <div class="section-item v-event">
        <div class="section-date">
          <strong class="date">{{time1}}</strong>
          <br />{{time2}}
          <br />{{time3}}
        </div>
        <h2>
          <a href="{{path}}/{{url}}">{{title}}</a>
        </h2>
      </div>
      <hr />
      {{/articles}}

      <br class="clearfix" />

    </section>

  </div>

  {{>layout/sidebar}}
</div>
