<div class="row">
  <div class="span9">

    <section>
      <h3 class="section-title">
        <span>блог [ архив ]</span>
      </h3>

      {{#article}}
      <div class="section-item v-event">
        <div class="section-date">
          <strong class="date">{{time1}}</strong>
          <br />{{time2}}
          <br />{{time3}}
        </div>
        <h2>
          {{#ingress}}{{ingress}}{{/ingress}}
          {{^ingress}}{{title}}{{/ingress}}
        </h2>
        <article>{{{content}}}</article>
      </div>
      {{/article}}

    </section>
  </div>

  {{>layout/sidebar}}
</div>
