<div class="row">
  <div class="span9">
    <section class="contacts">
      <h3 class="section-title">
        <span>Свържете се с нас</span>
      </h3>
      <dl>
        <dt class="vl-term">Facebook</dt>
        <dd class="vl-def text"><a href="https://www.facebook.com/varnalab">Facebook page</a> (тук може да ни изпратите съобщение)</dd>
        <dd class="vl-def text"><a href="https://www.facebook.com/groups/varnalab/">Facebook group</a></dd>

        <dt class="vl-term">Slack</dt>
        <dd class="vl-def text"><a href="https://varnalab.slack.com">varnalab.slack.com</a></dd>
        <dd class="vl-def text">Вземи своята покана за Slack канала от <a href="https://slack.varnalab.org">тук</a></dd>

        <dt class="vl-term">Discord</dt>
        <dd class="vl-def text"><a href="https://discord.gg/BPynzccykh">Join VarnaLab Discord Server</a></dd>

        <dt class="vl-term">Google</dt>
        <dd class="vl-def text"><a href="https://groups.google.com/forum/#!forum/varna-lab">Google Group</a></dd>
        <dd class="vl-def text"><a href="mailto:varna-lab@googlegroups.com" class="text">varna-lab@googlegroups.com</a></dd>

        <dt class="vl-term">Twitter</dt>
        <dd class="vl-def text"><a href="https://twitter.com/VarnaLab">@VarnaLab</a></dd>

        <dt class="vl-term">Електронна поща</dt>
        <dd class="vl-def text"><a href="mailto:hq@varnalab.org">hq@varnalab.org</a></dd>

        <dt class="vl-term">Адрес</dt>
        <dd class="vl-def text">ул. „Пенчо Славейков“ 50, Варна</dd>
        <dd class="vl-map">{{>widget/map}}</dd>
      </dl>
    </section>
  </div>

  {{>layout/sidebar}}
</div>
