<div class="row">
  <div class="span9">
    <section class="contacts">
      <h3 class="section-title">
        <span>Свържете се с нас</span>
      </h3>
      <dl>
        <dt class="vl-term">Wiki</dt>
        <dd class="vl-def text"><a href="https://wiki.varnalab.org">wiki.varnalab.org</a></dd>

        <dt class="vl-term">Github</dt>
        <dd class="vl-def text"><a href="https://github.com/VarnaLab">github.com/VarnaLab</a></dd>
        <dd class="vl-def text">Вземи своята покана за GitHub организацията от <a href="https://github.varnalab.org">тук</a></dd>

        <dt class="vl-term">Facebook</dt>
        <dd class="vl-def text"><a href="https://www.facebook.com/varnalab">facebook page</a></dd>
        <dd class="vl-def text"><a href="https://www.facebook.com/groups/varnalab/">facebook group</a></dd>

        <dt class="vl-term">Google</dt>
        <dd class="vl-def text"><a href="https://groups.google.com/forum/#!forum/varna-lab">group</a></dd>
        <dd class="vl-def text"><a href="mailto:varna-lab@googlegroups.com" class="text">varna-lab@googlegroups.com</a></dd>

        <dt class="vl-term">Twitter</dt>
        <dd class="vl-def text"><a href="https://twitter.com/VarnaLab">@VarnaLab</a></dd>

        <dt class="vl-term">Trello</dt>
        <dd class="vl-def text"><a href="https://trello.com/varnalab">trello.com/varnalab</a></dd>

        <dt class="vl-term">Slack</dt>
        <dd class="vl-def text"><a href="https://varnalab.slack.com">varnalab.slack.com</a></dd>
        <dd class="vl-def text">Вземи своята покана за Slack канала от <a href="https://slack.varnalab.org">тук</a></dd>

        <dt class="vl-term">Електронна поща</dt>
        <dd class="vl-def text"><a href="mailto:hq@varnalab.org">hq@varnalab.org</a></dd>

        <dt class="vl-term">Адрес</dt>
        <dd class="vl-def text">ул. „Пенчо Славейков“ 50, Варна</dd>
        <dd class="vl-map">{{>widget/map}}</dd>
      </dl>
    </section>
  </div>

  {{>layout/sidebar}}
</div>
