<div class="row">
  <div class="span9">

    <section>
      <h3 class="section-title">
        <span>Информация и цели</span>
      </h3>

      <div class="section-item">
        <h3>За какво се използват събраните средства?</h3>
        <p>
          На първо място за осигуряване на независимо физическо място и покриване на всички текущи нужди, свързани с поддръжката му.
        </p>
        <p>
          В случай, че не успеят да се съберат достатъчно средства, за да се покрият текущите нужди, следва, че обществото няма нужда от Лаба и той трябва да спре да съществува.
        </p>
        <p>
          Останалите средства се използват за развитието на Лаба и дейностите свързани с него.
        </p>
      </div>

      <div class="section-item">
        <h3>Кой начин на плащане да използвам?</h3>
        <ul>
          <li>С карта, през системата myPOS, като изберете една от сумите, посочени във формите по-долу.</li>
          <li>По банков път към сметка в BGN с IBAN BG37INTF40015013262595.</li>
          <li>През PayPal към потребител paypal [at] varnalab.org. Ако е възможно, избягвайте този метод, тъй като таксите са доста високи/</li>
          <li>В брой, като ги дадете директно на касиера и си кажете името.</li>
          <li>или като ги остави в касичката (пощенската кутия), завити в бележка с твоето име.</li>
        </ul>
        <p>Ще се радваме, ако за основание на плащането използвате формат напр: членски внос 2018-01 Иван Петров</p>
      </div>
    </section>

    <section class="donate">
      <h3 class="section-title">
        <span>Дарения</span>
      </h3>

      <div class="section-item">
        <p>
          Моля, изберете размера на дарението, което желаете да направите (с карта, през система myPOS):
        </p>
        <form class="form-horizontal" action="https://www.mypos.eu/vmp/btn/" method="post" target="_blank">
          <div class="control-group">
            <label class="control-label" for="inputEmail">Размер на дарението:</label>
            <div class="controls">
              <select class="input-small" name="button_id">
                <option value="BPLYT37KR8A97">1лв</option>
                <option value="B797IWWRHLP86">2лв</option>
                <option value="BNLWPKOMMYT29">3лв</option>
                <option value="BLGSKQWMZPX23">4лв</option>
                <option value="BYJRJX8TISB55">5лв</option>
                <option value="BQVST3A7N1917">6лв</option>
                <option value="BRHJVR7897V98">7лв</option>
                <option value="B9H2DY9RNR221">8лв</option>
                <option value="BCIGGLSD9L723">9лв</option>
                <option value="B75C93OLWXK18">10лв</option>
                <option value="BOGDL7VU8SU73">20лв</option>
                <option value="BIOSJFEI4CR05">30лв</option>
                <option value="BQP73QYPCPM76">40лв</option>
                <option value="B9OZ2IWANV988">50лв</option>
                <option value="B6G37DZBM3M46">60лв</option>
                <option value="BJNJEUH6ASC06">70лв</option>
                <option value="B8GODGC5JVK20">80лв</option>
                <option value="B8OV95HX6W514">90лв</option>
                <option value="BG5UZTRNE7M73">100лв</option>
              </select>
              <button class="btn" name="submit">Дари през myPOS</button>
            </div>
          </div>
        </form>
        <p>
          В случай, че желаете да дарите средства по банков път, моля използвайте сметка в BGN с IBAN BG37INTF40015013262595.
        </p>
      </div>
    </section>
    
    <section id="membership">
      <h3 class="section-title">
        <span>Членски внос</span>
      </h3>

      <div class="section-item">
        <p>Моля, изберете размера на вноската, което желаете да внесете (с карта, през система myPOS):</p>
        <form class="form-horizontal" action="https://www.mypos.eu/vmp/btn/" method="post" target="_blank">
          <div class="control-group">
            <label class="control-label" for="inputEmail">Размер на вноската:</label>
            <div class="controls">
              <select class="input-small" name="button_id">
                <option value="BJC3GEZWECV93">10лв</option>
                <option value="B42OV9V8GVE14">20лв</option>
                <option value="BW1PNAY1MJY80">30лв</option>
                <option value="BXUPYPA7JBX54">40лв</option>
                <option value="BPBB8USOVTC72">50лв</option>
                <option value="BPJ3C74VJZ425">60лв</option>
                <option value="BNFJ5AKMMCT07">70лв</option>
                <option value="B8AW8F365UE53">80лв</option>
                <option value="BHPXCMGDPNO71">90лв</option>
                <option value="BWTW3OIBXWK47">100лв</option>
              </select>
              <button class="btn" name="submit">Внеси през myPOS</button>
            </div>
          </div>
        </form>
        <p>
          В случай, че желаете да направите вноската по банков път, моля използвайте сметка в BGN с IBAN BG37INTF40015013262595.
        </p>
      </div>

      <div class="section-item">
        <h3>Колко е членския внос?</h3>
        <p>
          Всеки сам избира с колко може да помогне. Няма нито минимум, нито максимум. Обикновено е между 10лв и 50лв.<br />
          Повечето хора, които използват Лаба за работно място, обикновено внасят по 50лв, тъй като голяма част от разходите отиват освен за наем и за ел. енергия.
        </p>
      </div>

      <br class="clearfix" />

    </section>

    <!-- {{>blogs}} -->

  </div>

  {{>layout/sidebar}}
</div>
