<div class="row">
  <div class="span9">

    <section>
      <h3 class="section-title">
        <span>календар</span>
      </h3>
      {{>calendar}}

      <br>
      <br>
      <br>
      <br>
      <h3 class="section-title">
        <span>предстоящи събития</span>
      </h3>

      {{#upcoming}}
      {{>event}}
      <hr />
      {{/upcoming}}

      {{^upcoming}}
      <p>Няма предстоящи събития</p>
      {{/upcoming}}

      <p class="v-past-events">
        <a href="{{path}}/events/1"> Виж всички изминали събития</a>
      </p>

    </section>

  </div>
  {{>sidebar}}
</div>
