<div class="row">
  <div class="span9">

    <section class="v-finance">
      <h3 class="section-title">
        <span>финанси</span>
      </h3>

      {{#cashbox}}

      {{#total}}
      <table class="total">
        <thead>
          <tr>
            <th>Приход</th>
            <th>Разход</th>
            <th>Текущо салдо</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{income}}</td>
            <td>{{expense}}</td>
            <td>{{current}}</td>
          </tr>
        </tbody>
      </table>
      {{/total}}

      <table class="entries">
        <thead>
          <tr>
            <th>Дата</th>
            <th>Стойност</th>
            <th>Основание</th>
            <th>Категория</th>
            <th>Забележки</th>
            <th>Администратор</th>
          </tr>
        </thead>
        <tbody>
          {{#entries}}
          <tr class="{{type}}">
            <td>{{date}}</td>
            <td>{{amount}}</td>
            <td>{{reason}}</td>
            <td>{{category}}</td>
            <td>{{notes}}</td>
            <td>{{admin}}</td>
          </tr>
          {{/entries}}
        </tbody>
      </table>
      {{/cashbox}}

    </section>

  </div>
  {{>layout/sidebar}}
</div>
