<div class="row">
  <div class="span9">
    <section>
      <h3 class="section-title">
        <span>Приятели</span>
      </h3>
      <ul>
        <li><a href="https://initlab.org">init Lab</a></li>
        <li><a href="http://burgaslab.org">BurgasLab</a></li>
        <li><a href="http://hackafe.org">Hackafe</a></li>
        <li><a href="http://www.zaralab.org">zaralab</a></li>
        <li><a href="https://hackerspaces.org">hackerspaces.org</a></li>
      </ul>
    </section>

    <section>
      <h3 class="section-title">
        <span>Други</span>
      </h3>
      <ul>
        <li><a href="https://varnalab.github.io"><strong>Мобилно Приложение</strong></a></li>
        <li><a href="https://spreadsheets.google.com/spreadsheet/pub?hl=en_US&amp;hl=en_US&amp;key=0Ald2w8OoVxhmdEo4MXQ2YnVlUW01ODZoRnVmMXNza2c&amp;output=html" target="_blank">Хората с ключове</a></li>
        <li><a href="https://docs.google.com/spreadsheet/pub?key=0As3N2yvtdDR8dDBueXNHdDkzN2hMSHdTQWQ3WWxzY0E&amp;gid=1" target="_blank">Членове и финансов отчет</a></li>
        <li><a href="https://spreadsheets1.google.com/spreadsheet/pub?hl=en_US&amp;hl=en_US&amp;key=0Ald2w8OoVxhmdGZ1NHE2bWhMNHJsVDNuczFKRzF2THc&amp;output=html" target="_blank">Дарения</a></li>
      </ul>
    </section>

    <section>
      <h3 class="section-title">
        <span>Галерия</span>
      </h3>
      <table>
        <tr>
          <td align="center" style="height: 194px; background: url(https://www.gstatic.com/pwa/s/v/lighthousefe_177.02/transparent_album_background.gif) no-repeat left;"><a href="https://picasaweb.google.com/102183830620273157111/VTPozF?authuser=0&amp;feat=embedwebsite"><img src="https://lh6.googleusercontent.com/-YSYENKqgK5Q/Uw-XPveZcvE/AAAAAAAAANQ/b5OE3KgagFg/s160-c/VTPozF.jpg" width="160" height="160" style="margin: 1px 0 0 4px;"></a></td>
          <td align="center" style="height: 194px; background: url(https://www.gstatic.com/pwa/s/v/lighthousefe_177.02/transparent_album_background.gif) no-repeat left;"><a href="https://picasaweb.google.com/102183830620273157111/2?authuser=0&amp;feat=embedwebsite"><img src="https://lh4.googleusercontent.com/-aMy0Xpd2HY4/Uw-N1J9FK1E/AAAAAAAAAMg/mqwCIHv94bM/s160-c/2.jpg" width="160" height="160" style="margin: 1px 0 0 4px;"></a></td>
          <td align="center" style="height: 194px; background: url(https://www.gstatic.com/pwa/s/v/lighthousefe_177.02/transparent_album_background.gif) no-repeat left;"><a href="https://picasaweb.google.com/102183830620273157111/OldLab20112012?authuser=0&amp;feat=embedwebsite"><img src="https://lh5.googleusercontent.com/-fwVvCXtHWFw/Uw-MPPNSyJE/AAAAAAAAAIA/92NN8Wwj6H0/s160-c/OldLab20112012.jpg" width="160" height="160" style="margin: 1px 0 0 4px;"></a></td>
        </tr>
        <tr>
          <td style="text-align: center; font-family: arial,sans-serif; font-size: 11px;"><a href="https://picasaweb.google.com/102183830620273157111/VTPozF?authuser=0&amp;feat=embedwebsite" style="color: #4D4D4D; font-weight: bold; text-decoration: none;">Виното сБира</a></td>
          <td style="text-align: center; font-family: arial,sans-serif; font-size: 11px;"><a href="https://picasaweb.google.com/102183830620273157111/2?authuser=0&amp;feat=embedwebsite" style="color: #4D4D4D; font-weight: bold; text-decoration: none;">Варна Лаб 2</a></td>
          <td style="text-align: center; font-family: arial,sans-serif; font-size: 11px;"><a href="https://picasaweb.google.com/102183830620273157111/OldLab20112012?authuser=0&amp;feat=embedwebsite" style="color: #4D4D4D; font-weight: bold; text-decoration: none;">old Lab 2011-2012</a></td>
        </tr>
      </table>
    </section>
  </div>
  {{>layout/sidebar}}
</div>
