<div class="row">
  <div class="span9">

    <section>
      <h3 class="section-title">
        <span>Стани част от VarnaLab</span>
      </h3>
      <div class="section-item">    
        <p>
          Ако желаете да станете член на VarnaLab, първо трябва да се запознаете с нашият
          <a href="https://drive.google.com/file/d/0B8PcQ8epaaktNC1nN0JWZTRPNU0/view?usp=sharing">Устав</a>.
        </p>
        <p>
          Ако споделяте целите на ВарнаЛаб, разпечатайте и попълнете
          <a href="https://drive.google.com/file/d/0B8PcQ8epaaktREVxOXVqMl9ZckU/view?usp=sharing">Заявление за членство</a>,
          и го оставете на някой от Лаба.
          <br />
          За ваше удобство в Лаба сме разпечатали Устав и бланки Заявление за членство.
        </p>
      </div>
    </section>

    <section>
      <h3 class="section-title">
        <span>Лабъри</span>
      </h3>

      {{#members}}
      <div class="section-item member">
        <article>
          <img src="https://gravatar.com/avatar/{{gravatar}}?size=64&d=monsterid" alt="{{name}}" title="{{name}}" class="avatar pull-left" />
          <p>
            <strong>{{name}}</strong>
            {{#twitter}}
            <a href="https://twitter.com/{{twitter}}"><img src="{{path}}/images/icon-twitter.jpg" alt="{{twitter}}" alt="{{twitter}}" /></a>
            {{/twitter}}
            {{#github}}
            <a href="https://github.com/{{github}}"><img src="{{path}}/images/icon-github.jpg" alt="{{github}}" alt="{{github}}" /></a>
            {{/github}}
          </p>
          <br class="clear" />
        </article>
      </div>

      <hr />
      {{/members}}

      <br class="clearfix" />

    </section>

  </div>
  {{>layout/sidebar}}
</div>
