<header>
  <a href="{{path}}/" class="logo"><img src="{{path}}/images/logo.png" alt="VarnaLab" /></a>
  <ul class="nav nav-pills pull-right">
    <li>
      <a href="{{path}}/about" title="About VarnaLab">
        <img src="{{path}}/images/nav-button-lab.png" alt="About VarnaLab" class="img-holder" />
        <span>About VarnaLab</span>
      </a>
    </li>
    <li>
      <a href="{{path}}/events" title="Events">
        <img src="{{path}}/images/nav-button-calendar.png" alt="Events" />
        <span>Events</span>
      </a>
    </li>
    <li>
      <a href="{{path}}/blogs" title="Blog">
        <img src="{{path}}/images/nav-button-packman.png" alt="Blog" />
        <span>Blog</span>
      </a>
    </li>
    <!-- <li>
      <a href="{{path}}/forum" title="Forum">
        <img src="{{path}}/images/nav-button-forum.png" alt="Forum" />
        <span>Forum</span>
      </a>
    </li> -->
    <li>
      <a href="{{path}}/members" title="Members">
        <img src="{{path}}/images/nav-button-members.png" alt="Members" />
        <span>Members</span>
      </a>
    </li>
    <li>
      <a href="{{path}}/donate" title="Donate">
        <img src="{{path}}/images/nav-button-donate.png" alt="Donate" />
        <span>Donate</span>
      </a>
    </li>    
    <li>
      <a href="{{path}}/links" title="Links">
        <img src="{{path}}/images/nav-button-links.png" alt="Links" />
        <span>Links</span>
      </a>
    </li>
    <li>
      <a href="{{path}}/contacts" title="Contacts">
        <img src="{{path}}/images/nav-button-contacts.png" alt="Contacts" />
        <span>Contacts</span>
      </a>
    </li>
  </ul>
</header>
