<div class="row">
  <div class="span9">
    <section>
      <article>

        <h3 class="section-title">
          <span>What is VarnaLab?</span>
        </h3>

        <div class="section-item">
          <p>
            VarnaLab is an independent physical space evolved and used by people
            having common interests mainly in the IT sector (also in
            machines, technologies, science and digital/electronic arts)
            where they can meet, talk and collaborate.
          </p>
          <p>
            VarnaLab was created on June 15-th, 2011 and is part of the
            <a href="http://hackerspaces.org/">hackerspaces.org</a> hackerspaces network,
            which (according to their Wiki) contains over 2300 place worldwide,
            in Bulgaria they are 5-6 and could be seen in the
            <a href="https://wiki.hackerspaces.org/Bulgaria">Bulgarian hackerpsaces list</a>.
          </p>
          <div class="hackermaps">
            <a href="https://wiki.hackerspaces.org/List_of_ALL_Hacker_Spaces" title="hackerspaces worldwide">
              <img src="{{path}}/images/hackerspacesWorldwide.jpg" alt="hackerspaces worldwide">
            </a>
          </div>
        </div>

        <div class="section-item">
          <h3>What is VarnaLab's mission?</h3>
          <p>
            VarnaLab's mission is to be an independent physical space for sharing knowledge, ideas, technologies
            and also help the society with:
          </p>
          <ul>
            <li>trainings</li>
            <li>workshops</li>
            <li>teaching</li>
            <li>events</li>
            <li>games</li>
            <li>shared workspace</li>
            <li>hacking :P</li>
            <li>many others</li>
          </ul>
        </div>

        <div class="section-item">
          <h3>What VarnaLab is not?</h3>
          <ul>
            <li>VarnaLab is not a company</li>
            <li>VarnaLab is not a product</li>
            <li>VarnaLab is not commercial organization</li>
          </ul>
        </div>

        <div class="section-item">
          <h3>Can I visit VarnaLab?</h3>
          <p>
            Everybody could visit VarnaLab when the space is opened.
            This is usually after 10:00 AM during the weekdays and (not necessarily) after 11:00 AM during the weekends.
            Check <a href="#whois">who is in VarnaLab now</a> just in case.
          </p>
        </div>

        <div class="section-item">
          <h3>Who administers VarnaLab?</h3>
          <p>
            There is no specific person that is doing it. The organization is done by its members.
            All the decisions are taken after voting in the #polls Slack channel.
          </p>
        </div>

        <div class="section-item">
          <h3>What kind of people could I meet in VarnaLab?</h3>
          <ul>
            <li>Geeks</li>
            <li>Nerds</li>
            <li>IT professionals</li>
            <li>Photographers</li>
            <li>Students</li>
            <li>Designers</li>
            <li>Painters</li>
            <li>Gamers</li>
            <li>many others</li>
          </ul>
        </div>

        <div class="section-item">
          <h3>How could I join VarnaLab and help its evolution?</h3>
          <p>
            By paying membership fee, donation and/or actively participating in its activities, for example:
          </p>
          <ul>
            <li>Organizing events/initiatives</li>
            <li>Promotions</li>
          </ul>
          <p>
            If you want to become VarnaLab member VarnaLab please check our
            <a href="https://drive.google.com/file/d/0B8PcQ8epaaktNC1nN0JWZTRPNU0/view?usp=sharing">Charter (Bulgarian only)</a>.
            If you share VarnaLab's goals and ideas - print and fill
            <a href="https://drive.google.com/file/d/0B8PcQ8epaaktREVxOXVqMl9ZckU/view?usp=sharing">Membership application (Bulgarian only)</a>,
            and bring it to VarnaLab.
            <br />
            For your convenience there are some printed copies of the Membership application left in VarnaLab.
          </p>
          <p>
            Please contact us using our <a href="https://groups.google.com/forum/#!forum/varna-lab">forum</a> if you have any good ideas.
          </p>
        </div>

        <div id="membership-fee" class="section-item">
          <h3>How could I pay membership fee?</h3>
          <p>
            On the <a href="{{path}}/donate">Donations</a> page there is section "Membership fee" - this
            is where you could find all the necessary information how you could help evolving VaranaLab.
          </p>
        </div>

        <div class="section-item">
          <h3>How much is the membership fee?</h3>
          <p>
            It solely depends on everybody's own decision - there is no minimum or maximum fee but it is usually between 10 BGN and 50 BGN.
          </p>
        </div>

        <div class="section-item">
          <h3>What are the membership fee money spent for?</h3>
          <p>
            Our running costs and evolving the organization.
          </p>
        </div>

        <div class="section-item">
          <h3>Can I organize an event?</h3>
          <p>
            Yes, everyone could organize an event in VarnaLab.
          </p>
        </div>

        <div class="section-item">
          <h3>How could I make an event?</h3>
          <ol>
            <li>Check for available dates in our <a href="{{path}}/events#calendar">Events calendar</a>.</li>
            <li>
              Write us in our <a href="https://www.facebook.com/varnalab/">Facebook page</a>
              or choose one of the methods described in <a href="{{path}}/contacts">Contacts</a> that suits you best.
            </li>
            <li>
              For more information check our
              <a href="https://wiki.varnalab.org/index.php?title=%D0%9A%D0%B0%D0%BA_%D0%B4%D0%B0_%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D1%83%D0%B2%D0%B0%D0%BC_%D1%81%D1%8A%D0%B1%D0%B8%D1%82%D0%B8%D0%B5%3F">How to create an event (Bulgarian only)?</a>
              Wiki page.
            </li>
          </ol>
        </div>

      </article>
    </section>
  </div>

  {{>layout/sidebar}}
</div>
