<div class="row">
  <div class="span9">
    <section class="contacts">
      <h3 class="section-title">
        <span>Contact us</span>
      </h3>
      <dl>
        <dt class="vl-term">Facebook</dt>
        <dd class="vl-def text"><a href="https://www.facebook.com/varnalab">Facebook page</a> (you can send us a message here)</dd>
        <dd class="vl-def text"><a href="https://www.facebook.com/groups/varnalab/">Facebook group</a></dd>

        <dt class="vl-term">Slack</dt>
        <dd class="vl-def text"><a href="https://varnalab.slack.com">varnalab.slack.com</a></dd>
        <dd class="vl-def text">Get your Slack invitation from <a href="https://slack.varnalab.org">here</a></dd>

        <dt class="vl-term">Google</dt>
        <dd class="vl-def text"><a href="https://groups.google.com/forum/#!forum/varna-lab">Google Group</a></dd>
        <dd class="vl-def text"><a href="mailto:varna-lab@googlegroups.com" class="text">varna-lab@googlegroups.com</a></dd>

        <dt class="vl-term">Twitter</dt>
        <dd class="vl-def text"><a href="https://twitter.com/VarnaLab">@VarnaLab</a></dd>

        <dt class="vl-term">E-mail</dt>
        <dd class="vl-def text"><a href="mailto:hq@varnalab.org">hq@varnalab.org</a></dd>

        <dt class="vl-term">Address</dt>
        <dd class="vl-def text">50 "Pencho Slaveikov" str., Varna, Bulgaria</dd>
        <dd class="vl-map">{{>widget/map}}</dd>
      </dl>
    </section>
  </div>

  {{>layout/sidebar}}
</div>
