<div class="row">
  <div class="span9">

    <section id="donate" class="donate">
      <h3 class="section-title">
        <span>Donations and Membership</span>
      </h3>

      <div class="section-item">
        <p>
          Please choose <strong>donation</strong> amount (pay by card using myPOS):
        </p>
        <form class="form-horizontal" action="https://www.mypos.eu/vmp/btn/" method="post">
          <div class="control-group">
            <label class="control-label" for="inputEmail"><strong>Donation</strong> amount:</label>
            <div class="controls">
              <select class="input-small" name="button_id">
                <option value="BPLYT37KR8A97">1 BGN</option>
                <option value="B797IWWRHLP86">2 BGN</option>
                <option value="BNLWPKOMMYT29">3 BGN</option>
                <option value="BLGSKQWMZPX23">4 BGN</option>
                <option value="BYJRJX8TISB55">5 BGN</option>
{{!
                <option value="BQVST3A7N1917">6 BGN</option>
                <option value="BRHJVR7897V98">7 BGN</option>
                <option value="B9H2DY9RNR221">8 BGN</option>
                <option value="BCIGGLSD9L723">9 BGN</option>
}}
                <option value="B75C93OLWXK18">10 BGN</option>
                <option value="BOGDL7VU8SU73" selected="selected">20 BGN</option>
                <option value="BIOSJFEI4CR05">30 BGN</option>
                <option value="BQP73QYPCPM76">40 BGN</option>
                <option value="B9OZ2IWANV988">50 BGN</option>
                <option value="B6G37DZBM3M46">60 BGN</option>
                <option value="BJNJEUH6ASC06">70 BGN</option>
                <option value="B8GODGC5JVK20">80 BGN</option>
                <option value="B8OV95HX6W514">90 BGN</option>
                <option value="BG5UZTRNE7M73">100 BGN</option>
              </select>
              <button class="btn" name="submit">Donate using myPOS</button>
            </div>
          </div>
        </form>

        <p>Please choose <strong>membership</strong> fee amount (pay by card using myPOS):</p>
        <form class="form-horizontal" action="https://www.mypos.eu/vmp/btn/" method="post">
          <div class="control-group">
            <label class="control-label" for="inputEmail"><strong>Membership</strong> fee amount:</label>
            <div class="controls">
              <select class="input-small" name="button_id">
                <option value="BJC3GEZWECV93">10 BGN</option>
                <option value="B42OV9V8GVE14" selected="selected">20 BGN</option>
                <option value="BW1PNAY1MJY80">30 BGN</option>
                <option value="BXUPYPA7JBX54">40 BGN</option>
                <option value="BPBB8USOVTC72">50 BGN</option>
                <option value="BPJ3C74VJZ425">60 BGN</option>
                <option value="BNFJ5AKMMCT07">70 BGN</option>
                <option value="B8AW8F365UE53">80 BGN</option>
                <option value="BHPXCMGDPNO71">90 BGN</option>
                <option value="BWTW3OIBXWK47">100 BGN</option>
              </select>
              <button class="btn" name="submit">Pay using myPOS</button>
            </div>
          </div>
        </form>

        <p>
          If you want to donate by bank transfer please use 
          IBAN BG37INTF40015013262595 (currency is BGN) and
          fill "VarnaLab" in the "Receiver" field
        </p>
      </div>
    </section>

    <section>
      <h3 class="section-title">
        <span>Information and goals</span>
      </h3>

      <div class="section-item">
        <h3>What do we use the funds for?</h3>
        <p>
          Paying all VarnaLab running costs and maintenance fees so we could keep this independent physical space alive. 
        </p>
        <p>
          In case we can not pay the running costs this would mean that VarnaLab should be closed.
        </p>
        <p>
          All the other money are used to evolve VarnaLab and all the activities related to it.
        </p>
      </div>

      <div class="section-item">
        <h3>How much is the membership fee?</h3>
        <p>
          It solely depends on everybody's own decision - there is no minimum or maximum fee but it is usually between 10 BGN and 50 BGN.<br />
          Most of the people using VarnaLab as co-working space usually pay 50 BGN because most of the money are spent to pay the rent and electricity.
        </p>
      </div>

      <div class="section-item">
        <h3>Which payment method should I choose?</h3>
        <ul>
          <li>With card using myPOS, simply choose the amount from the drop-downs below.</li>
          <li>With bank transfer in BGN currency - use <strong>IBAN BG37INTF40015013262595</strong> and fill "VarnaLab" in the "Receiver" field.</li>
          <li>Using this PayPal link <a href="https://www.paypal.me/varnalab">paypal.me/varnalab</a>. Please avoid using this payment methods because it is too costly for us.</li>
          <li>In cash, simply give them to the cashier in VarnaLab.</li>
          <li>or leave them in the "donations box" wrapped in a paper having your name on it.</li>
        </ul>
        <p>We would be grateful if you specify the details below if you're paying with bank transfer:</p>
        <ul>
          <li>"Donation" <em>or</em> "Donation for... [what you're donating for]" (if you're donating)</li>
          <li>"Membership fee 2018-01 John Doe" (if you're paying membership fee)</li>
        </ul>
      </div>

      <div id="company-donation" class="section-item">
        <h3>Could legal entities (companies) make donations?</h3>
        <p>Donations to NGO and non-profit organizations bring tax deduction for legal entities (companies)</p>
        <p>In order to get the tax deduction legal entities should make bank transfer and specify "Donation" in the "Description" field (additional information about the donation could also be added)</p>
        <p>This bank statement is official document that could be used to claim the tax deduction. If needed, we could prepare donation certificate/receipt or sign a donation contract.</p>
      </div>

      <div class="section-item">
        <h3>Can I donate goods and things?</h3>
        <p>Of course, just make sure they are useful for VarnaLab. These things could be furniture, appliances, tools, materials, consumables, etc.
      </div>
    </section>

    <!-- {{>blogs}} -->

  </div>

  {{>layout/sidebar}}
</div>
