<div class="row">
  <div class="span9">
    <section class="links">
      <h3 class="section-title">
        <span>Resources</span>
      </h3>
      <dl>
        <dt class="vl-term">Information and documents</dt>
        <dd class="vl-def text"><a href="https://wiki.varnalab.org">wiki.varnalab.org</a></dd>

        <dt class="vl-term">Organizational information</dt>
        <dd class="vl-def text"><a href="https://trello.com/varnalab">trello.com/varnalab</a></dd>

        <dt class="vl-term">Projects</dt>
        <dd class="vl-def text"><a href="https://github.com/VarnaLab">github.com/VarnaLab</a></dd>
        <dd class="vl-def text">Get your VarnaLab GitHub repo invitation from <a href="https://github.varnalab.org">here</a></dd>
      </dl>
    </section>

    <section>
      <h3 class="section-title">
        <span>Useful resources</span>
      </h3>
      <ul>
        <li><a href="https://varnalab.github.io"><strong>Mobile App</strong></a></li>
        <li>
          <a href="https://drive.google.com/drive/folders/1Z1lN3tzuQBxKkKFxhutSZEN2g0ptQ4nE" target="_blank">Members and finances</a>
          (<a href="https://docs.google.com/spreadsheet/pub?key=0As3N2yvtdDR8dDBueXNHdDkzN2hMSHdTQWQ3WWxzY0E&amp;gid=1" target="_blank">archive</a>)
        </li>
        <li><a href="https://spreadsheets1.google.com/spreadsheet/pub?hl=en_US&amp;hl=en_US&amp;key=0Ald2w8OoVxhmdGZ1NHE2bWhMNHJsVDNuczFKRzF2THc&amp;output=html" target="_blank">Donations</a></li>
        <li><a href="https://spreadsheets.google.com/spreadsheet/pub?hl=en_US&amp;hl=en_US&amp;key=0Ald2w8OoVxhmdEo4MXQ2YnVlUW01ODZoRnVmMXNza2c&amp;output=html" target="_blank">Members having door keys</a></li>
      </ul>
    </section>

    <section>
      <h3 class="section-title">
        <span>Friends</span>
      </h3>
      <ul>
        <li><a href="https://initlab.org">init Lab</a></li>
        <li><a href="http://burgaslab.org">BurgasLab</a></li>
        <li><a href="http://hackafe.org">Hackafe</a></li>
        <li><a href="http://www.zaralab.org">zaralab</a></li>
      </ul>
    </section>

    <section>
      <h3 class="section-title">
        <span>Gallery</span>
      </h3>
      <table>
        <tr>
          <td align="center" style="height: 194px; background: url(https://www.gstatic.com/pwa/s/v/lighthousefe_177.02/transparent_album_background.gif) no-repeat left;"><a href="https://get.google.com/albumarchive/102183830620273157111/album/AF1QipNdPcvBcoQjtPcB_Hd71-CXr0DnwvEH-JikOisH"><img src="https://lh6.googleusercontent.com/-YSYENKqgK5Q/Uw-XPveZcvE/AAAAAAAAANQ/b5OE3KgagFg/s160-c/VTPozF.jpg" width="160" height="160" style="margin: 1px 0 0 4px;"></a></td>
          <td align="center" style="height: 194px; background: url(https://www.gstatic.com/pwa/s/v/lighthousefe_177.02/transparent_album_background.gif) no-repeat left;"><a href="https://get.google.com/albumarchive/102183830620273157111/album/AF1QipOBRpMhaJ6AspxKDAPywdasu3BerLu4T8sDqdK3"><img src="https://lh4.googleusercontent.com/-aMy0Xpd2HY4/Uw-N1J9FK1E/AAAAAAAAAMg/mqwCIHv94bM/s160-c/2.jpg" width="160" height="160" style="margin: 1px 0 0 4px;"></a></td>
          <td align="center" style="height: 194px; background: url(https://www.gstatic.com/pwa/s/v/lighthousefe_177.02/transparent_album_background.gif) no-repeat left;"><a href="https://get.google.com/albumarchive/102183830620273157111/album/AF1QipP1abHAE0NPyS5OtTrjBGN6ER3gaJ-KJSmzWxMK"><img src="https://lh5.googleusercontent.com/-fwVvCXtHWFw/Uw-MPPNSyJE/AAAAAAAAAIA/92NN8Wwj6H0/s160-c/OldLab20112012.jpg" width="160" height="160" style="margin: 1px 0 0 4px;"></a></td>
        </tr>
        <tr>
          <td style="text-align: center; font-family: arial,sans-serif; font-size: 11px;"><a href="https://get.google.com/albumarchive/102183830620273157111/album/AF1QipNdPcvBcoQjtPcB_Hd71-CXr0DnwvEH-JikOisH" style="color: #4D4D4D; font-weight: bold; text-decoration: none;">Wine & Beer</a></td>
          <td style="text-align: center; font-family: arial,sans-serif; font-size: 11px;"><a href="https://get.google.com/albumarchive/102183830620273157111/album/AF1QipOBRpMhaJ6AspxKDAPywdasu3BerLu4T8sDqdK3" style="color: #4D4D4D; font-weight: bold; text-decoration: none;">VarnaLab 2</a></td>
          <td style="text-align: center; font-family: arial,sans-serif; font-size: 11px;"><a href="https://get.google.com/albumarchive/102183830620273157111/album/AF1QipP1abHAE0NPyS5OtTrjBGN6ER3gaJ-KJSmzWxMK" style="color: #4D4D4D; font-weight: bold; text-decoration: none;">old Lab 2011-2012</a></td>
        </tr>
      </table>
    </section>
  </div>

  {{>layout/sidebar}}
</div>
