<div class="row">
  <div class="span9">

    <section>

      <h3 class="section-title">
        <span>past events</span>
      </h3>

      {{#events}}
      {{>content/event}}
      <hr />
      {{/events}}

      <p class="v-past-events">
        {{#prev}}
        <a href="{{path}}/events/{{prev}}" class="pull-left"> prev</a>
        {{/prev}}
        <a href="{{path}}/events"> first</a>
        {{#next}}
        <a href="{{path}}/events/{{next}}" class="pull-right"> next</a>
        {{/next}}
      </p>
      <div class="clear"></div>

    </section>

  </div>
  {{>layout/sidebar}}
</div>
